.home-page {
  background-color: var(--color-background);
  color: var(--color-text);
  min-height: 100vh;
}

.carousel-container {
  width: 100%;
  margin: 0 auto;
  margin-top: 2rem;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.carousel-container img {
  height: auto;
  max-height: 60vh;
  object-fit: cover;
}

.carousel-container button{
  height: 5px;
  border-radius: 0 !important;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 1rem;
}

.card {
  background-color: var(--color-card-background);
  border-radius: 10px;
  border: none;
  color: var(--color-text);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.card-text {
  color: var(--color-primary);
  font-weight: 500;
}

@media (prefers-color-scheme: dark) {
  .carousel-caption {
    background: rgba(255, 255, 255, 0.1);
  }
}
